Flask==0.10.1
Jinja2==2.7.1
MarkupSafe==0.18
Werkzeug==0.9.4
gunicorn==18.0
httplib2==0.8
itsdangerous==0.23
git+https://github.com/dgrtwo/ParsePy.git
python-instagram==0.8.0
simplejson==3.3.0
wsgiref==0.1.2
Flask-Assets==0.8
jsmin==2.0.4
cssmin==0.1.4
numpy==1.7.1
