* {
  box-sizing: border-box; }

body {
  padding: 0;
  margin: 0;
  width: 100%;
  font-family: "proxima-nova", Helvetica, Arial, sans-serif; }

.pure-g [class*="pure-u"],
.pure-g-r [class*="pure-u"] {
  /* Set you're content font stack here: */
  font-family: "proxima-nova", Helvetica, Arial, sans-serif !important; }

.header {
  width: 100%; }

.logo, .logo:visited {
  color: #000;
  text-decoration: none;
  font-size: 2.5em;
  font-weight: 200;
  color: #2ecc71; }
  @media only screen and (max-device-width: 320px) {
    .logo, .logo:visited {
      font-size: 1.5em; } }

.my_stats {
  text-align: right;
  font-weight: 300;
  padding: 10px 20px 0 0;
  margin: 0; }

.content {
  padding: 10px 20px;
  font-family: "proxima-nova", Helvetica, Arial, sans-serif;
  font-weight: 300; }
  @media only screen and (max-device-width: 320px) {
    .content {
      padding: 10px 10px; } }

.main {
  width: 100%;
  min-height: 400px; }
  @media only screen and (max-device-width: 320px) {
    .main {
      width: 100%;
      min-height: 250px; } }

.info {
  font-size: 2.5em;
  line-height: 2em;
  font-weight: 300;
  padding: 0;
  margin: 0; }
  @media only screen and (max-device-width: 320px) {
    .info {
      font-size: 1.2em;
      line-height: 1em;
      padding: 10px 0;
      margin: 0; } }

.instagram {
  display: inline-block;
  width: 200px;
  height: 29px;
  position: relative;
  top: 5px;
  background: url("/static/img/Instagram_normal.png"); }
  .instagram:hover {
    background: url("/static/img/Instagram_hover.png"); }

.existing_pics {
  list-style: none;
  padding: 0 0 40px 0;
  margin: 0; }
  .existing_pics li {
    width: 206px;
    height: 206px;
    margin-top: 20px;
    margin-right: 40px;
    float: left;
    opacity: 0.4;
    -moz-opacity: 0.4;
    -webkit-opacity: 0.4; }
    .existing_pics li img {
      width: 206px;
      height: 206px; }

.push {
  display: none;
  text-align: center;
  font-weight: 300;
  font-size: 2.3em; }

.battle_wrap {
  width: 100%; }

.pic1_col, .pic2_col {
  text-align: center;
  font-size: 1.8em;
  height: 400px; }
  @media only screen and (max-device-width: 320px) {
    .pic1_col, .pic2_col {
      height: 220px;
      margin-bottom: 10px; } }

@media only screen and (max-device-width: 320px) {
  .pic2_col {
    padding-left: 30px; } }

/*
@media only screen and (max-device-width: 320px) {
	.pic1_col {
		border-bottom: 1px solid #000;
	}
} */
#photo1, #photo2 {
  width: 306px;
  height: 306px;
  cursor: pointer; }
  @media only screen and (max-device-width: 320px) {
    #photo1, #photo2 {
      width: 140px;
      height: 140px; } }

.user1_col, .user2_col {
  text-align: center;
  font-size: 1.8em; }

.skip_col {
  text-align: center;
  font-size: 1.4em;
  padding-top: 8%; }

.skip, .skip:visited {
  display: block;
  width: 80%;
  border: 5px solid #2ecc71;
  color: #2ecc71;
  text-transform: lowercase;
  text-decoration: none;
  font-weight: bold;
  padding: 15px;
  margin: 30px auto;
  font-family: "proxima-nova", Helvetica, Arial, sans-serif; }
  .skip:hover, .skip:visited:hover {
    color: #000;
    border: 5px solid #000; }
  @media only screen and (max-device-width: 320px) {
    .skip, .skip:visited {
      width: 80%; } }

.title {
  text-align: center;
  width: 100%; }
  .title a, .title a:visited {
    text-decoration: none;
    font-weight: bold;
    color: #000; }

.subtitle {
  text-align: center;
  font-size: 1.5em;
  line-height: 1em;
  width: 100%; }

.subtitle a {
  color: black; }

.col-2-5 {
  width: 400px;
  display: inline-block; }

.col-1-5 {
  width: 100px;
  display: inline-block; }

.row {
  margin: 10px auto;
  max-device-width: 950px; }

.photos {
  height: 306px; }

.footer {
  width: 100%;
  background: #54d98c;
  clear: both;
  margin: 0px 0 0 0; }

.brief {
  color: #fff;
  font-size: 2em;
  line-height: 1.8em; }
  @media only screen and (max-device-width: 320px) {
    .brief {
      font-size: 1em;
      line-height: 1.1em; } }

.leaders {
  color: #7AE4F5; }

.copyright {
  border-top: 3px solid #fff;
  font-size: 1em;
  color: #fff;
  width: 100%;
  margin: 0;
  padding: 20px 20px;
  font-family: "proxima-nova", Helvetica, Arial, sans-serif;
  font-weight: 300; }
  .copyright a, .copyright a:visited {
    color: #000; }

.metadata {
  text-align: center; }
  @media only screen and (max-device-width: 320px) {
    .metadata {
      height: 60px; } }

.user_link, .user_link:visited {
  font-size: 18px;
  color: #3f729b;
  font-weight: 200;
  text-decoration: none; }
  @media only screen and (max-device-width: 320px) {
    .user_link, .user_link:visited {
      font-size: 12px;
      padding: 0;
      margin: 0;
      line-height: 0.8em; } }

.by {
  font-size: 12px;
  font-weight: bold;
  color: #d4d4d4; }

.metadata {
  display: none; }

.score {
  width: 100%;
  padding: 0;
  background: none;
  border-top: 3px solid #2ecc71;
  border-bottom: 3px solid #2ecc71;
  display: none;
  font-family: "proxima-nova", Helvetica, Arial, sans-serif; }

.result_content {
  margin: 20px 60px 20px 20px;
  padding: 20px 0;
  width: 90%; }

.thumbLink {
  display: inline-block;
  width: 150px;
  height: 150px; }
  .thumbLink img {
    width: 150px;
    height: 150px;
    vertical-align: bottom; }
    @media only screen and (max-device-width: 320px) {
      .thumbLink img {
        width: 75px;
        height: 75px; } }
  @media only screen and (max-device-width: 320px) {
    .thumbLink {
      width: 75px;
      height: 75px; } }

.thumbData {
  text-align: left;
  display: inline-block;
  height: 86px;
  margin-top: -10px auto; }
  @media only screen and (max-device-width: 320px) {
    .thumbData {
      margin: 0 auto;
      height: 56px;
      padding: 0 10px; } }

.thumbUser, .thumbUser:visited {
  height: 75px;
  font-size: 1.1em;
  color: #3f729b; }
  @media only screen and (max-device-width: 320px) {
    .thumbUser, .thumbUser:visited {
      font-size: 0.8em; } }

.votes {
  font-size: 2em;
  height: 65px;
  font-weight: 300; }
  @media only screen and (max-device-width: 320px) {
    .votes {
      font-size: 1.2em;
      height: 35px; } }
  .votes div {
    display: inline-block;
    font-weight: 400;
    font-size: 2em; }
    @media only screen and (max-device-width: 320px) {
      .votes div {
        font-size: 1.2em; } }

.result_col {
  text-align: center;
  padding: 0; }

.winner {
  border-radius: 12px;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  background: #7ee2a8; }

.score_header {
  font-weight: 300;
  font-size: 2.5em;
  display: none;
  font-family: "proxima-nova", Helvetica, Arial, sans-serif;
  margin: 0; }
  @media only screen and (max-device-width: 320px) {
    .score_header {
      font-size: 1.4em; } }

.leaderboard {
  display: none;
  font-family: "proxima-nova", Helvetica, Arial, sans-serif; }
  .leaderboard .item {
    text-align: center; }
    @media only screen and (max-device-width: 320px) {
      .leaderboard .item {
        margin-top: 10px; } }
    .leaderboard .item a.leader_img {
      display: block;
      text-decoration: none;
      text-align: center; }
      .leaderboard .item a.leader_img img {
        width: 150px;
        height: 150px;
        border: 10px solid #fff; }
    .leaderboard .item a.leader_handle, .leaderboard .item a.leader_handle:visited {
      display: block;
      padding: 8px;
      font-size: 1.1em;
      font-weight: bold;
      text-decoration: none;
      color: black; }
      .leaderboard .item a.leader_handle:visited, .leaderboard .item a.leader_handle:visited:visited {
        color: black; }
    .leaderboard .item .stats {
      display: block;
      font-size: 1.4em;
      color: white;
      font-weight: 300; }

.leaderboard_header {
  font-size: 2em;
  font-weight: 500;
  color: #000;
  display: none;
  text-transform: uppercase; }
  @media only screen and (max-device-width: 320px) {
    .leaderboard_header {
      font-size: 1em; } }

.see_winners {
  font-size: 1.2em;
  text-align: center;
  margin: 5px auto;
  font-weight: 300;
  display: none; }
  .see_winners a, .see_winners a:visited {
    color: #2ecc71; }
  @media only screen and (max-device-width: 320px) {
    .see_winners {
      font-size: 0.8em; } }

.view_ig {
  border: 5px solid #3f729b;
  color: #3f729b;
  background: none;
  text-transform: uppercase;
  font-size: 16px;
  padding: 10px;
  text-decoration: none;
  font-weight: 600;
  display: block;
  width: 306px;
  margin: 0 auto;
  letter-spacing: 0.1em; }
  @media only screen and (max-device-width: 320px) {
    .view_ig {
      font-size: 8px;
      width: 140px;
      padding: 4px;
      border: 3px solid #3f729b; } }
  .view_ig:hover {
    color: #000;
    border-color: #000; }
  .view_ig:visited {
    color: #3f729b; }

.flat_button {
  width: 200px;
  text-align: center;
  display: block;
  border: 5px solid #000;
  color: #000;
  text-transform: lowercase;
  text-decoration: none;
  font-weight: bold;
  padding: 5px;
  margin: 0;
  font-family: "proxima-nova", Helvetica, Arial, sans-serif; }
  .flat_button:hover {
    color: #000;
    border: 5px solid #000; }
  @media only screen and (max-device-width: 320px) {
    .flat_button {
      width: 100px; } }

.twitter-share-button {
  display: inline-block;
  font-size: 1.2em;
  width: 100px;
  color: #00acee;
  border: 3px solid #00acee; }
  .twitter-share-button:hover {
    color: #000 !important;
    border: 3px solid #000; }
  @media only screen and (max-device-width: 320px) {
    .twitter-share-button {
      width: 70px;
      font-size: 0.9em; } }

.fb_share_button {
  display: inline-block;
  font-size: 1.2em;
  width: 100px;
  color: #3b5998;
  border: 3px solid #3b5998; }
  .fb_share_button:hover {
    color: #000 !important;
    border: 3px solid #000; }
  @media only screen and (max-device-width: 320px) {
    .fb_share_button {
      width: 70px;
      font-size: 0.9em; } }

.share_col {
  text-align: right; }

.ig-b- {
  display: block;
  margin: 10px auto; }
  @media only screen and (max-device-width: 320px) {
    .ig-b- {
      margin: 0 auto; } }

.ig-b- img {
  visibility: hidden; }

.ig-b-:hover {
  background-position: 0 -60px; }

.ig-b-:active {
  background-position: 0 -120px; }

.ig-b-v-24 {
  width: 137px;
  height: 24px;
  background: url(//badges.instagram.com/static/images/ig-badge-view-sprite-24.png) no-repeat 0 0; }

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .ig-b-v-24 {
    background-image: url(//badges.instagram.com/static/images/ig-badge-view-sprite-24@2x.png);
    background-size: 160px 178px; } }
