$basefont: Helvetica, Arial, sans-serif;
$emerald: #2ecc71;
$fgcolor: $emerald;

@mixin bw {
	// TODO add browser decl
	-moz-filter: grayscale(50%);
	-webkit-filter: grayscale(50%);
	filter: grayscale(50%);
}

@mixin opacity($val) {
	// TODO add browser declarations
	opacity: $val;
	-moz-opacity: $val;
	-webkit-opacity: $val;
}

@mixin rounded-border($rad) {
	border-radius: $rad;
	-moz-border-radius: $rad;
	-webkit-border-radius: $rad;
}

* {
	box-sizing: border-box;
}

body {
	padding: 0;
	margin: 0;
	width: 100%;
}

a, a:visited {
	color: red;
}

.header {
	width: 100%;

	a, a:visited {
		color: #000;
		text-decoration: none;
	}
}

.my_stats {
	text-align: right;
	font-weight: 300;
	padding: 10px 20px 0 0;
	margin: 0;
}

.content {
	padding: 10px 20px;
	font-family: $basefont;
	font-weight: 300;

	@media only screen and (max-device-width: 320px) {
		padding: 10px 10px;
	}
}

.main {
	width: 100%;
	min-height: 400px;
	@media only screen and (max-device-width: 320px) {
		width: 100%;
		min-height: 250px;
	}
}

.info {
	font-size: 2.5em;
	line-height: 2em;
	font-weight: 300;


	@media only screen and (max-device-width: 320px) {
		font-size: 1.2em;
		line-height: 1em;
		padding: 10px 0;
		margin:0;
	}
}

.instagram {
	display: inline-block;
	width: 200px;
	height: 29px;
	position: relative;
	top: 5px;
	background: url('/static/img/Instagram_normal.png');

	&:hover {
		background: url('/static/img/Instagram_hover.png');
	}
}

.existing_pics {
	li {
		width: 206px;
		height: 206px;
		margin-top: 20px;
		margin-right: 40px;
		float: left;
		@include opacity(0.4);

		img {
			width: 206px;
			height: 206px;
		}
	}

	list-style: none;
	padding: 0 0 40px 0;
	margin: 0;
}

.push {
	display: none;
	text-align: center;
	font-weight: 300;
	font-size: 2.3em;
}

.battle_wrap {
	width: 100%;

}

.pic1_col, .pic2_col {
	text-align: center;
	font-size: 1.8em;
	height: 400px;

	@media only screen and (max-device-width: 320px) {
		height: 220px;
		margin-bottom: 10px;
	}
}

.pic2_col {
	@media only screen and (max-device-width: 320px) {
		padding-left: 30px;
	}
}

/*
@media only screen and (max-device-width: 320px) {
	.pic1_col {
		border-bottom: 1px solid #000;
	}
} */

#photo1, #photo2 {
	width: 306px;
	height: 306px;

	@media only screen and (max-device-width: 320px) {
		width: 140px;
		height: 140px;
	}
}

.user1_col, .user2_col {
	text-align: center;
	font-size: 1.8em;
}

.skip_col {
	text-align: center;
	font-size: 1.4em;
	padding-top: 8%;

}

.skip, .skip:visited {
	display: block;
	width: 100px;
	border: 5px solid $fgcolor;
	color: $fgcolor;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: bold;
	padding: 15px;
	margin: 30px auto;
	&:hover {
		color: #000;
		border: 5px solid #000;
	}

	@media only screen and (max-device-width: 320px) {
		width: 80%;
	}
}

.title {
	text-align: center;
	width: 100%;
}

.subtitle {
        text-align: center;
        font-size: 1.5em;
        line-height: 1em;
        width: 100%;
}

        .subtitle a {
                color: black;
        }

.col-2-5 {
	width: 400px;
	display: inline-block;
}

.col-1-5 {
	width: 100px;
	display: inline-block;
}

.row {
	margin: 10px auto;
	max-device-width: 950px;

}

.photos {
	height: 306px;
}

.footer {
	width: 100%;
	background: lighten($fgcolor, 10);
	clear: both;
	margin: 0px 0 0 0;
}

$footer_fontsize: 2em;

.brief {
	color: #fff;
	font-size: $footer_fontsize;
	line-height: 1.8em;

	@media only screen and (max-device-width: 320px) {
		font-size: 1em;
		line-height: 1.1em;
	}
}

.leaders {
	color: #7AE4F5;
}

.copyright {
	border-top: 3px solid #fff;
	font-size: 1em;
	color: #fff;
	width: 100%;
	margin: 0;
	padding: 20px 20px;
	font-family: $basefont;
	font-weight: 300;

	a, a:visited {
		color: #fff;
	}
}

.metadata {
	text-align: center;

	@media only screen and (max-device-width: 320px) {
		height: 60px;
	}
}

.user_link, .user_link:visited {
	font-size: 18px;
	color: #3f729b;
	font-weight: 200;
	text-decoration: none;
	@media only screen and (max-device-width: 320px) {
		font-size: 12px;
		padding: 0;
		margin: 0;
		line-height: 0.8em;
	}
}

.by {
	font-size: 12px;
	font-weight: bold;
	color: #d4d4d4;
}

.metadata {
	display: none;
}


.score {
	width: 100%;
	padding: 20px 60px 20px 60px;
	background: none;
	border-top: 3px solid $fgcolor;
	border-bottom: 3px solid $fgcolor;
	display: none;
	font-family: $basefont;
	@media only screen and (max-device-width: 320px) {
		padding: 20px 5px 20px 5px;
	}
}

$results_dim: 150px;

.thumbLink {
	display: inline-block;
	width: $results_dim;
	height: $results_dim;
	img {
		width: $results_dim;
		height: $results_dim;
		vertical-align: bottom;
		@media only screen and (max-device-width: 320px) {
			width: $results_dim/2;
			height: $results_dim/2;
		}
	}
	@media only screen and (max-device-width: 320px) {
		width: $results_dim/2;
		height: $results_dim/2;
	}
}


.thumbData {
	text-align: left;
	display: inline-block;
	height: 50px;
}
.thumbUser {
	height: $results_dim/2;
	font-size: 1.1em;
}

.votes {
	font-size: 1.1em;
	height: 15px;

	div {
		display: inline-block;
	}
}

.result_col {
	text-align: center;
	padding: 20px;
}

.winner {
	//border: 3px solid $fgcolor;
	@include rounded-border(12px);
	background: lighten($fgcolor, 20);
}

.score_header {
	font-weight: 300;
	font-size: 2.5em;
	display: none;
	font-family: $basefont;
	margin: 0;

	@media only screen and (max-device-width: 320px) {
		font-size: 1.4em;
	}
}

$leader-dim: 150px;
$username-color: #fff;
$stats-color: #fff;

.leaderboard {
	display: none;
	.item {
		text-align: center;
		a.leader_img {
			display: block;
			text-decoration: none;
			text-align: center;
			img {
				width: $leader-dim;
				height: $leader-dim;
				border: 10px solid #fff;
			}
		}
		
		a.leader_handle, a.leader_handle:visited {
			display: block;
			padding: 8px;
			font-size: 1.1em;
			font-weight: bold;
			text-decoration: none;
			color: $username-color;
			&:visited {
				color: $username-color;
			}
		}
		.stats {
			display: block;
			font-size: 1.4em;
			color: $stats-color;
			font-weight: 300;
		}
	}
}

.leaderboard_header {
	font-size: 2em;
	font-weight: 300;
	color: #fff;
	display: none;

	@media only screen and (max-device-width: 320px) {
		font-size: 1em;
	}
}


.ig-b- { 
	display:  block; 
	margin: 10px auto;

	@media only screen and (max-device-width: 320px) {
		margin: 0 auto;
	}
}
.ig-b- img { visibility: hidden; }
.ig-b-:hover { background-position: 0 -60px; } .ig-b-:active { background-position: 0 -120px; }
.ig-b-v-24 { width: 137px; height: 24px; background: url(//badges.instagram.com/static/images/ig-badge-view-sprite-24.png) no-repeat 0 0; }
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
	.ig-b-v-24 { background-image: url(//badges.instagram.com/static/images/ig-badge-view-sprite-24@2x.png); background-size: 160px 178px; } }
