<!DOCTYPE html>
<html>
<head>
	<title>Stylesense</title>
	<meta name="viewport" content="width=device-width">
	<link rel="stylesheet" href="/static/css/styles.css?i" type="text/css">
	<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.3.0/grids-min.css">
	<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
</head>

<body>
	<div class="header content">
		<a href="/">Stylesense</a>
	</div>
	<div class="main">
		<div class="content">

			<h2 class="info title">Which <a href="http://www.urbandictionary.com/define.php?term=OOTD" title="outfit of the day" target="_blank">#ootd</a> is better? Pick one</h2>
			<h2 class="see_winners" id="see_winners"><a href="#leaderboard_header">(See who's winning)</a></h2>
			<div class="battle_wrap">

				<div class="pure-g" id="photos">
					<div class="pure-u-2-5 pic1_col" id="photo1_wrap">
						<img src="/static/img/ph.gif" id="photo1" onerror="new_round();" title="Click to vote!">
						<!--<img src="http://placehold.it/306x306" class="photo1_bg">-->
						<div id="metadata1" class="metadata">
							<a id="link1" href="" class="ig-b- ig-b-v-24" target="_blank"><img src="//badges.instagram.com/static/images/ig-badge-view-24.png" alt="Instagram" /></a>
							<span class="by">by</span> <a id="user1" class="user_link" target="_blank"></a>
						</div>

					</div>
					<div class="pure-u-1-5 skip_col pure-hidden-phone">
						<a id="skip" class="skip" href="#">Nahh, skip</a>
					</div>
					<div class="pure-u-2-5 pic2_col">
						<img src="/static/img/ph.gif" id="photo2" onerror="new_round();" title="Click to vote!">
						<!--<img src="http://placehold.it/306x306" class="photo1_bg">-->
						<div id="metadata2" class="metadata">
							<a id="link2" href="" class="ig-b- ig-b-v-24" target="_blank"><img src="//badges.instagram.com/static/images/ig-badge-view-24.png" alt="Instagram" /></a>
							<span class="by">by</span> <a id="user2" class="user_link" target="_blank"></a>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
	
	<h2 class="score_header content" id="score-header">Last Round</h2></div>
	<div class="pure-g score" id="score" style="display: none;">
		<div class="pure-u-1-2 result_col" id="result1">
			<a class="thumbLink" id="thumbLink1" target="_blank">
				<img id="thumbImg1" class="thumbImg">
			</a>
			<div class="thumbData">
				<a class="thumbUser" id="thumbUser1" target="_blank">asdfasdf</a>
				<div class="votes"><div id="wins1">22</div> wins / <div id="losses1">10</div> losses</div>
			</div>
		</div>
		<div class="pure-u-1-2 result_col" id="result2">
			<a class="thumbLink" id="thumbLink2" target="_blank">
				<img id="thumbImg2" class="thumbImg">
			</a>
			<div class="thumbData">
				<a class="thumbUser" id="thumbUser2" target="_blank">asdfasfd</a>
				<div class="votes"><div id="wins2">22</div> wins / <div id="losses2">10</div> losses</div>
			</div>
		</div>
	</div>
	<div class="footer">
		<div class="content">
			<p class="brief">Stylesense is a battleground of #ootd (outfit of the day) pictures on Instagram.<!--<br>Join the fun: <a class="instagram" href="https://api.instagram.com/oauth/authorize/?client_id=77bdd37f87264ebea8c9a3178c9abd20&redirect_uri=http://desolate-woodland-8107.herokuapp.com/igram_oauth_callback&response_type=code"></a>--></p>
			<h3 id="leaderboard_header" class="leaderboard_header">Who's winning</h3>
			<div id="leaderboard" class="pure-g-r leaderboard"></div>
		</div>
		<p class="copyright" id="copyright">&copy; 2013 Stylesen.se. Handmade in Canada by <a href="http://twitter.com/aam1r">@aam1r</a> and <a href="http://twitter.com/sidjha">@sidjha</a>.</p>
	</div>
	<script src="/static/js/stylesense.js"></script>
	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-44525512-1', 'stylesen.se');
	  ga('send', 'pageview');

	</script>
</body>

</html>