<!DOCTYPE html>
<html>
<head>
	<title>Join Stylesense</title>
	<link rel="stylesheet" href="/static/css/styles.css" type="text/css">
</head>

<body>
	<div class="header content">
		<a href="/">Stylesense</a>
	</div>
	<div class="main">
		<div class="content">

			<h2 class="info title">Which outfit is better?</h2>
			<div class="battle_wrap">
				<div class="row">
					<div class="col-2-5 pic1_col">
						<img src="http://placehold.it/306x306">
					</div>
					<div class="col-1-5 skip_col">
					vs<a class="skip" href="#">Skip</a>
					</div>
					<div class="col-2-5 pic2_col">
						<img src="http://placehold.it/306x306">
					</div>
				</div>
				<div class="row">
					<div class="col-2-5 user1_col">
					@user1
					</div>
					<div class="col-1-5">
					
					</div>
					<div class="col-2-5 user2_col">
					@user2
					</div>
				</div>
				<div class="row">
					<div class="col-2-5 user1_col">
					22 wins / 11 losses
					</div>
					<div class="col-1-5">
					
					</div>
					<div class="col-2-5 user2_col">
					5 wins / 2 losses
					</div>
				</div>

			</div>
		</div>
	</div>
	<div class="footer">
		<div class="content">
			<p class="brief">Stylesense is a battleground of #ootd pics for the instagram community. <br>Join the fun: <a class="instagram" href="https://api.instagram.com/oauth/authorize/?client_id=77bdd37f87264ebea8c9a3178c9abd20&redirect_uri=http://desolate-woodland-8107.herokuapp.com/igram_oauth_callback&response_type=code"></a></p>
			<p class="leaderboard_g">Who's winning: <span class="leaders">@kimk (42w / 5l), @rihanna (38w / 6l), @miley (22w / 10l)</span></p>
			<p class="copyright">&copy; 2013 Stylesen.se. Handcrafted in Canada by <a href="http://twitter.com/aam1r">@aam1r</a> and <a href="http://twitter.com/sidjha">@sidjha</a>.</p>
		</div>
	</div>
</body>

</html>