<!DOCTYPE html>
<html>
<head>
  <title>Join Stylesense</title>
  <link rel="stylesheet" href="/static/css/styles.css" type="text/css">
  <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
</head>

<body>
  <div class="header content">
    <a href="/">Stylesense</a>
  </div>

  <div class="main">
    <div class="content">
      <h2 class="info title">Which outfit is better?</h2>
      <div class="battle_wrap">
        <div class="row" id="photos">
          <div class="col-2-5 pic1_col">
            <img data-object-id="tedYONnrfL" src="http://distilleryimage5.s3.amazonaws.com/8ba48b0a283c11e3aa8c22000a1fc809_7.jpg" id="photo1" width="306px" height="306px">
          </div>

          <div class="col-1-5 skip_col">
            vs<a class="skip" href="#">Skip</a>
          </div>

          <div class="col-2-5 pic2_col">
            <img data-object-id="nfizitOExT"  src="http://distilleryimage7.s3.amazonaws.com/5ecb6cf028b611e3b16122000a1f9e61_7.jpg" id="photo2" width="306px" height="306px">
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>
    var rounds_played = 0;
    var cur_round, prev_round;

    initialize();

    function Round(player1, player2) {
      this.player1 = player1;
      this.player2 = player2;
      this.winner = null;

      this.set_winner = function(winner) {
        this.winner = winner;
      }

      this.render = function() {
        setup_image($('#photo1'), this.player1);
        setup_image($('#photo2'), this.player2);
        $('#photos').css({'display': 'block'});
      }

      this.clear_ = function() {
        $('#photos').css({'display': 'none'});
      }

      this.save = function(obj) {
        $.ajax({
          url: '/tally_round',
          method: 'POST',
          data: {
            photo1: obj.player1.obj_id,
            photo2: obj.player2.obj_id,
            winner: obj.winner.obj_id
          }
        });
      }
    }

    function Player(player) {
      this.image_url = player.images.low_resolution.url;
      this.obj_id = player.objectId;
    }

    function new_round() {
      $.ajax({
        url: '/new_round',
        method: 'GET',
        success: function(data) {
          var players = $.parseJSON(data);
          var player1 = new Player(players[0]);
          var player2 = new Player(players[1]);
          cur_round = new Round(player1, player2);
          cur_round.render();
        }
      });
    }

    function initialize() {
      $.ajax({
        url: '/new_round',
        method: 'GET',
        success: function(data) {
          var players = $.parseJSON(data);
          console.log("Getting initial data...")
          console.log(players);
          var player1 = new Player(players[0]);
          var player2 = new Player(players[1]);
          cur_round = new Round(player1, player2);
          cur_round.render();
        }
      });
    }

    function setup_image(elem, obj) {
      var url = obj.image_url;
      elem.attr('src', url);
    }

    $('#photo1').on('click', function() {
      cur_round.set_winner(cur_round.player1);
      prev_round = cur_round;
      prev_round.clear_();
      new_round();
      prev_round.save(prev_round);
    });

    $('#photo2').on('click', function() {
      cur_round.set_winner(cur_round.player2);
      prev_round = cur_round;
      prev_round.clear_();
      new_round();
      prev_round.save(prev_round);
    });
   

  /*  function new_rounds() {
      $.ajax({
        url: '/new_rounds',
        method: 'GET',
        success: function(data) {
          console.log(data);
          pairs.push($.parseJSON(data));
        }
      });
    }


    function load_new_round() {
      setup_image($('#photo1'), pairs[0][0][0]);
      setup_image($('#photo2'), pairs[0][0][1]);
      pairs[0].splice(0, 1);
      if (pairs[0].length == 0) {
        pairs.splice(0, 1);
      }
      $('#photos').css({'display': 'block'});
    } */

    </script>
</body>

</html>
